@charset "utf-8";

/* common */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  vertical-align: bottom;
}

.container {
  max-width: 800px;
  width: calc(100% - 64px);
  margin: auto;
}

p {
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  cursor: pointer;
  opacity: .7;
}

/* header */
header {
  background: #FFCC70;
}

.menus {
  display: flex;
  padding: 16px 0;
}

.links {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
}

.links > a {
  margin: 0 16px;
}

/* lgin */
.login {
  background: #FFFADD;
  padding: 80px 0;
}

.login_area form {
  margin: 48px 0;
}

.mail {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.pass {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 32px;
}

.login_area button{
  background: #22668D;
  color: #FFF;
  border-style: none;
  border-radius: 8px;
  padding: 8px 16px;
}

.login_area button:hover {
  cursor: pointer;
  opacity: .7;
}

.login_area {
  text-align: center;
}

.create_account {
  margin-top: 32px;
  font-size: 12px;
}

.create_account a {
  text-decoration: underline;
}

/* footer */
footer {
   background: #FFCC70;
   padding: 64px 0;
}

footer a {
  margin: 0 16px;
}

footer .links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media (min-width: 600px) {


}